# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Electron
dist/
out/
build/
*.log


# VSCode / IDE settings
.vscode/
.idea/

# Optional cache folders
.cache/
.tmp/
temp/


